body{
background-color: white
}

header{
  padding: 50px

}
#patinha{
width: 240px
}

.padding{
color: red
}

.cabeçalho{
position: relative;
width: 940px;
margin: 0px;
padding: 40px
}

nav{
  position: absolute;
  top: 110px;
  right: 0px
}

nav li{
  display: inline;
  margin: 0 0 0 15px
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px
}
p{
  font-size: 20px;padding-left: 40px
}

h1{
  text-align: center;
    color: grey;
    border: groove 20px black;
    margin: 20px
}

li {
  font-size: 20px
}

img{
  width: 40%
}

h2{
  font-size: 18px
}
 .titulo{


 }

.titulo3{
  font-size: 20px;
  color: blue; margin-left: 40px
}

#phx {
  color: grey
}
